 *{
    margin: 0px;
    padding: 0px;
    background: #404040;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    .zone{
        background-color: antiquewhite;
        height: 100vh;
        width: 100vw;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;

        .entete{
            grid-row: 1/1;
            grid-column: 2/5;
        }

        .profil{
            background-color: rgb(24, 101, 79);
            grid-row: 1/5;
            grid-column: 1/1;
        }

        .liste_discussion{
            grid-row: 2/5;
            grid-column: 2/2;
        }

        .espace_discussion{
            background-color: rgb(207, 207, 208);
            grid-row: 2/5;
            grid-column: 3/5;
        }
    }
}
